node_modules/
dist-ssr/
.vite/
coverage/
.DS_Store

# logs
npm-debug.log*
pnpm-debug.log*
yarn-error.log*

# env files
.env
.env.*
!.env.example

# editor/ide
.idea/
.vscode/

# build cache
tsconfig.tsbuildinfo

