/* stylelint-disable at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    @apply m-0 h-full w-full overflow-hidden bg-[#0f1115] text-[#e6e9ef];
    font-family: "Inter", "PingFang SC", "Microsoft YaHei", sans-serif;
  }

  p,
  h3 {
    @apply m-0;
  }
}
/* stylelint-enable at-rule-no-unknown */
